@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Grandstander";
  src: url("../public/fonts/Grandstander/Grandstander-VariableFont_wght.ttf");
}
